{% extends "base.html" %}
{% block title %}Admin Dashboard- ELMS{% endblock %}
{% block content %}
<div class="container mt-4 mb-4">
<h2>👑 Admin Dashboard</h2>
<div class="container mt-4 mb-4">
<h4>👥 All Users</h4>
<table class="table table-bordered mt-2 mb-4">
    <thead>
        <tr>
            <th>Username</th>
            <th>Role</th>
        </tr>
    </thead>
    <tbody>
        {% for user in users %}
        <tr>
            <td>{{ user.username }}</td>
            <td>{{ user.role }}</td>
        </tr>
        {% endfor %}
    </tbody>
</table>

<h4>📄 All Leave Records</h4>
<table class="table table-striped responsive-table mt-2">
    <thead>
        <tr>
            <th>Employee</th>
            <th>Reason</th>
            <th>From</th>
            <th>To</th>
            <th>Status</th>
        </tr>
    </thead>
    <tbody>
        {% for leave in leaves %}
        <tr>
            <td>{{ leave.user.username }}</td>
            <td>{{ leave.reason }}</td>
            <td>{{ leave.from_date }}</td>
            <td>{{ leave.to_date }}</td>
            <td>{{ leave.status }}</td>
        </tr>
        {% endfor %}
    </tbody>
</table>

<a href="{{ url_for('download_csv') }}" class="btn btn-primary mt-3"><i class="fas fa-download me-2"></i>Download CSV Report</a>
</div>
</div>
{% endblock %}
